<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      {% if title %}
      <title>{{ title }}</title>
      {% else %}
      <title>Flask-microblog</title>>
      {% endif %}
      <link rel="stylesheet" href="../static/css/main.css">
    </head>
    <body>
          {% block content %}
          {% endblock %}
      <footer>
        <div class="row100">
          <div class="col">
            <p>ggwork420@gmail.com</p>
          </div>
          <div class="col">
            <a href=""></a>
          </div>
        </div>
      </footer>
      <script src="../static/js/parallax.js" type="text/javascript"></script> 
    </body>
</html>
