{% extends "base.html" %}
{% block content %}

<section>
        <img src="../static/imges/hello.gif" id="hello">
        <img src="../static/imges/bg1.png" id="bg">
        <img src="../static/imges/neon_mount.png" id="mountain">
        <img src="../static/imges/neon_road.png" id="road">
</section>
<main>
	<div class="container">
		<div class="content">
			<div class="header">
				<h1>I am Anton. Glad to see you!</h1>
				<h4>I am a web-programmer from Kazan.</h4>
				<h4>And this is my first ever web-site.</h4>
			</div>
			
			<div class="body">
				
				<div class="about">

					<h3> Technologies I used to it:</h3>
					<ul>
						<li>
							<p>
								Python Flask: backend
							</p>
						</li>
						<li>
							<p>
							HTML, js, css : frontend
							</p>
						</li>
						<li>
							<p>
							Docker : deploy
							</p>
						</li>
						<li>
							<p>
							Git as a github: version control
							</p>
						</li>
						<li>
							<p>
							SQlite: for your tips
							</p>
						</li>	
					</ul>
				</div>

				<div class="image-continer">		
					<div class="img">
						<img src="../static/imges/flask.png">
						<h3> Backend:Flask </br> Python</h3>
					</div>
					<div class="img">
						<img src="../static/imges/html.png">
						<h3>Frontend: html </br>js, css</h3>
					</div>
					<div class="img">
						<img src="../static/imges/lin.png">
						<h3>Bash </br>Linux debian</h3>
					</div>
					<div class="img" >
						<img id="docker"src="../static/imges/docker-main.png">
						<h3>Docker</h3>
					</div>
				</div>

				
				<div class="about">
					<h3>Technologies that I'm going to learn:</h3>
					<ul>
						<li>
							<p>Docker Compose</p>
						</li>
						<li>
							<p>PostgreSQL</p>
						</li>
						<li>
							<p>Angular</p>
						</li>
					</ul>
				</div>
				<div class="header">
					<h2>	Please, press the button and leave your tip to me</h2>
					<form method="get" action="{{ url_for('contact_view') }}">
						<button class="submit"> Say something </button>
					</form>
				</div>
	</div>
</main>
{% endblock %}
